<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Server" value="hostname"/>
    <add key="UserID" value="login"/>
    <add key="Password" value="pass"/>
    <add key="Database" value="DBNAME"/>
    <add key="ldapUserID" value="sysuser"/>
    <add key="ldapPassword" value="syspass"/>
    <add key="ldapServer" value="DC1.contoso.com"/>
    <add key="UserStore" value="OU=Сontoso Users,DC=CONTOSO,DC=COM"/>
  </appSettings>
</configuration>